                                                                @charset "UTF-8";
                                                                .box--size {
                                                                    width: 400px;
                                                                    height: 400px;
                                                                    background: #f00;
                                                                    margin: 0 auto;
                                                                }
                                                                
                                                                @media screen and (max-width:960px) {
                                                                    .box--size {
                                                                        width: 200px;
                                                                        height: 200px;
                                                                        background: #f00;
                                                                        margin: 0 auto;
                                                                    }
                                                                }
                                                                
                                                                .box--color {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    background: #f00;
                                                                    margin: 0 auto;
                                                                }
                                                                
                                                                @media screen and (max-width:960px) {
                                                                    .box--color {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        background: #007bff;
                                                                        margin: 0 auto;
                                                                    }
                                                                }
                                                                
                                                                .box--margin {
                                                                    display: flex;
                                                                    justify-content: center;
                                                                }
                                                                
                                                                .box--blue {
                                                                    background: #0008ff;
                                                                    margin: 150px;
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    display: inline-flex;
                                                                }
                                                                
                                                                .box--green {
                                                                    background: #2f0;
                                                                    margin: 150px;
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    display: inline-flex;
                                                                }
                                                                
                                                                @media screen and (max-width:960px) {
                                                                    .box--margin {
                                                                        display: flex;
                                                                        justify-content: center;
                                                                    }
                                                                    .box--blue {
                                                                        background: #0008ff;
                                                                        margin: 50px;
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        display: inline-flex;
                                                                    }
                                                                    .box--green {
                                                                        background: #2f0;
                                                                        margin: 50px;
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        display: inline-flex;
                                                                    }
                                                                }
                                                                
                                                                .box--float {
                                                                    display: flex;
                                                                    justify-content: center;
                                                                }
                                                                
                                                                .box--float--red {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    background: #f00;
                                                                    float: left;
                                                                }
                                                                
                                                                .box--float--blue {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    background: #0008ff;
                                                                    float: left;
                                                                }
                                                                
                                                                @media screen and (max-width:960px) {
                                                                    .box--float {
                                                                        display: block;
                                                                        justify-content: center;
                                                                    }
                                                                    .box--float--red {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        background: #f00;
                                                                        float: none;
                                                                    }
                                                                    .box--float--blue {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        background: #0008ff;
                                                                        float: none;
                                                                    }
                                                                }
                                                                
                                                                .box--reverse {
                                                                    display: flex;
                                                                    flex-direction: row;
                                                                    justify-content: center;
                                                                    text-align: center;
                                                                }
                                                                
                                                                .box--A {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    background: #f00;
                                                                    margin: 0;
                                                                }
                                                                
                                                                .box--B {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    background: #0008ff;
                                                                }
                                                                
                                                                .box--C {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    background: #ff8400;
                                                                }
                                                                
                                                                @media screen and (max-width:960px) {
                                                                    .box--reverse {
                                                                        display: flex;
                                                                        flex-direction: row-reverse;
                                                                        justify-content: center;
                                                                        text-align: center;
                                                                    }
                                                                    .box--A {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        background: #f00;
                                                                        margin: 0;
                                                                    }
                                                                    .box--B {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        background: #0008ff;
                                                                    }
                                                                    .box--C {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        background: #ff8400;
                                                                    }
                                                                }
                                                                
                                                                .box--order {
                                                                    display: flex;
                                                                    justify-content: center;
                                                                }
                                                                
                                                                .order--A {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    text-align: center;
                                                                    background: #00ff51;
                                                                }
                                                                
                                                                .order--B {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    text-align: center;
                                                                    background: #d4ff00;
                                                                }
                                                                
                                                                .order--C {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    text-align: center;
                                                                    background: #ff00e1;
                                                                }
                                                                
                                                                @media screen and (max-width:960px) {
                                                                    .box--order {
                                                                        display: flex;
                                                                        justify-content: center;
                                                                    }
                                                                    .order--A {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        text-align: center;
                                                                        background: #00ff51;
                                                                        order: 0;
                                                                    }
                                                                    .order--B {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        text-align: center;
                                                                        background: #d4ff00;
                                                                        order: 1;
                                                                    }
                                                                    .order--C {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        text-align: center;
                                                                        background: #ff00e1;
                                                                        order: -1;
                                                                    }
                                                                }
                                                                
                                                                .display--box {
                                                                    display: flex;
                                                                    justify-content: center;
                                                                }
                                                                
                                                                .display--red {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    background: #f00;
                                                                }
                                                                
                                                                .display--blue {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    background: #0008ff;
                                                                    display: none;
                                                                }
                                                                
                                                                .display--green {
                                                                    width: 300px;
                                                                    height: 300px;
                                                                    background: #00ff51;
                                                                }
                                                                
                                                                @media screen and (max-width:960px) {
                                                                    .display--box {
                                                                        display: flex;
                                                                        justify-content: center;
                                                                    }
                                                                    .display--red {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        background: #f00;
                                                                        display: none;
                                                                    }
                                                                    .display--blue {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        background: #0008ff;
                                                                        display: block;
                                                                    }
                                                                    .display--green {
                                                                        width: 300px;
                                                                        height: 300px;
                                                                        background: #00ff51;
                                                                    }
                                                                }